/***** classes referentes a cor *******/

.COLORE{
    background-color: white;     
}

.COLORE1{
    background-color: white; 
}

.COLORETEXTO{
    color: gray;
}

.topoformatacao{
    background-color: whitesmoke;
    font-size: 15px;
    padding-left: 35px;
    text-align: left;
    height: auto;
    color: white;
}

.bordas {
    border: 2px solid white;
    border-radius: 0px;
}

/********** bordas *******/
.bordasb {
    border: 1px solid lightgray;
    border-radius: 6px;
}

.bordasc {
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 290px;
}

.bordaspraconteudo{
    border-top: 1px solid lightskyblue;
    padding-top: 25px;
    margin-bottom: 30px;
/*usado na index*/
}

/**** opacidade ****/

.opacidade{
    opacity: 0.7;
}

/******* fonte ********/

body{
    font-family: "trebuchet";
    position: relative;
    min-height: 100%;
}

/******* tamanho de fonte ******/

.fonteonze{
    font-size: 11px;
}

.fontedoze{
     font-size: 12px;
}

.fontequinze{
     font-size: 15px;
}

.fontedezesseis{
    font-size: 16px;
}

.fontedezoito{
    font-size: 18px;
}

.fontevinte{
    font-size: 20px;
}

.fontevinteecinco{
    font-size: 25px;
}
/******* posição *********/

.paddingtop{
    padding-top: 10px;
}

.centraliza{
    margin:auto;
}

.margintop{
    margin-top: 29px;
}

.marginbottom{
    margin-bottom: 29px;
}

.paddingtexto{
    padding-top: 10px;
}

.largurainput{
    width: 185px;
}

.margindocard{
    margin-bottom: 0px;
}

.noradius{
    border-radius: 0px;
}

/********************************************
	Ratings Stars
	https://css-tricks.com/star-ratings/
*/

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: lightblue;
}



